*{
margin: 0;
padding: 0;
font-family: 'Arial', sans-serif;
box-sizing: border-box;
}

body{
    background-image: url('images/all-anime-main-manga-characters-ngoyvzu7ksev1ovg.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #223;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #6e004b;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #01701f;
}
.incorrect{
    background: #9e1313;
}

#search-btn {
    padding: 12px 25px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#search-btn:hover {
    background-color: #45a049; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}


#search-btn:active {
    transform: scale(0.98); 
}

#search-input {
    width: 70%; 
    padding: 12px; 
    border: 2px solid #111111; 
    border-radius: 8px; 
    font-size: 16px; 
    transition: border-color 0.3s ease; 
}


#search-input:focus {
    border-color: #4CAF50; 
    outline: none; 
}


#start-btn {
    background: #7e1153; 
    color: #fff; 
    font-weight: bold; 
    width: 200px; 
    border: 0; 
    padding: 15px;
    margin: 20px auto; 
    border-radius: 8px; 
    cursor: pointer; 
    display: block; 
    text-align: center; 
    transition: background 0.3s, transform 0.3s; 
}

#start-btn:hover {
    background: #242224; 
    transform: scale(1.05); 
}

#start-btn:active {
    background: #8e035b; 
    transform: scale(1); 
}